<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}
    {% if title %}
    <title>Магазин - {{ title }}</title>
    {% else %}
    <title>Магазин</title>
    {% endif %}
    {% endblock title%}
</head>
<body>
{% block content %}
{% block mainmenu %}
<ul class="menu">
    {% for m in menu %}
    <li><a href="{{ m.url }}">{{ m.name }}</a></li>
    {% endfor %}
</ul>
    {% endblock mainmenu %}
<div class="content">
    {% if title %}
    <h1>Магазин - {{ title }}</h1>
    {% else %}
    <h1>Магазин</h1>
    {% endif %}
</div>
{% endblock content %}


</body>
</html>