<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h2>Правила пользования приложением "Генератор паролей"</h2>
    <ol>
        <li>Выберите количество символов (от 6 до 14)</li>
        <li>Если хотите, чтобы пароль содержал символы верхнего регистра, поставьте галочку в окошке "Верхний регистр"</li>
        <li>Если хотите, чтобы пароль содержал цифры, поставьте галочку в окошке "Цифры"</li>
        <li>Если хотите, чтобы пароль содержал спецсимволы, поставьте галочку в окошке "Спецсимволы"</li>
    </ol>
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
    </div>
</body>
</html>